@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
}

html,
body,
#root {
  box-sizing: border-box;
  background-color: #18181b;
  height: 100%;
}

/* Nohemi Font */

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-Thin.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-Light.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-Regular.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-Medium.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-Bold.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/nohemi/Nohemi-Black.woff2") format("woff2"),
    url("./assets/fonts/nohemi/Nohemi-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Nunito Font */

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraLightItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Light.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Regular.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-RegularItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Medium.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-MediumItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-SemiBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Bold.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Black.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/nunito/Nunito-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
